@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?urhvac')
  src:  url('../fonts/icomoon.eot?urhvac#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?urhvac') format('truetype'),
    url('../fonts/icomoon.woff?urhvac') format('woff'),
    url('../fonts/icomoon.svg?urhvac#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-bubble:before 
  content: "\e96b"

.icon-spinner:before 
  content: "\e982"

.icon-rocket:before 
  content: "\e9a5"

.icon-fire:before 
  content: "\e9a9"

.icon-star:before 
  content: "\e9d9"

.icon-heart:before 
  content: "\e9da"

.icon-crying:before 
  content: "\ea02"

.icon-sina:before 
  content: "\ea9a"

.icon-github:before 
  content: "\eab0"

.icon-pinterest:before 
  content: "\ead2"


