.loading-shade
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 200
    background: rgba(0, 0, 0, 0)
    .loading-icon
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      margin: auto
      border-radius: 10px
      width: 70px
      height: 58px
      padding-top: 12px
      text-align: center
      background: rgba(0, 0, 0, 0.7)
      color: #fff
      .wgf-iconspinner6
        display: inline-block
        font-size: 22px
        width: 22px
        height: 22px
        background: url(./loading_icon.png) no-repeat
        background-size: 100% 100%
        animation: rotate 1.2s linear infinite
        -webkit-animation: rotates 1.2s linear infinite
      @keyframes rotate
        0%
          transform: rotate(0deg)
        50%
          transform: rotate(180deg)
        100%
          transform: rotate(360deg)
      @-webkit-keyframes rotates
        0%
          -webkit-transform: rotate(0deg)
        50%
          -webkit-transform: rotate(180deg)
        100%
          -webkit-transform: rotate(360deg)
      p
        padding: 10px 0
        font-size: 12px