border-top-1px($color)
  // position: relative
  &:after
    display: block
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    border-top: 1px solid $color

border-bottom-1px($color)
  // position: relative
  &:after
    display: block
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-bottom: 1px solid $color

border-none()
  &:after
    display: none