@font-face
  font-family: 'wgf-icon'
  src:  url('../fonts/wgf-icon.eot?caj6e')
  src:  url('../fonts/wgf-icon.eot?caj6e#iefix') format('embedded-opentype'),
    url('../fonts/wgf-icon.ttf?caj6e') format('truetype'),
    url('../fonts/wgf-icon.woff?caj6e') format('woff'),
    url('../fonts/wgf-icon.svg?caj6e#wgf-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="wgf-icon"], [class*=" wgf-icon"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wgf-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.wgf-iconspinner6:before
  content: "\e97f"

.wgf-iconcircle-right:before
  content: "\ea42"

.wgf-iconcheckbox-checked:before
  content: "\ea52"

.wgf-iconcheckbox-unchecked:before
  content: "\ea53"

.wgf-iconradio-checked2:before
  content: "\ea55"

.wgf-iconradio-unchecked:before
  content: "\ea56"

.wgf-iconarea_icon:before
  content: "\e900"

.wgf-iconarrow_bottom:before
  content: "\e901"

.wgf-iconarrow_left:before
  content: "\e902"

.wgf-iconarrow_right:before
  content: "\e903"

.wgf-iconarrow_top:before
  content: "\e904"

.wgf-icondelete_icon:before
  content: "\e905"

.wgf-iconlogin_account_icon:before
  content: "\e906"

.wgf-iconlogin_eyes_icon:before
  content: "\e907"

.wgf-iconlogin_password_icon:before
  content: "\e908"

.wgf-iconmeeting_person_icon:before
  content: "\e909"

.wgf-iconmeeting_zeng_icon:before
  content: "\e90a"

.wgf-iconperson_icon:before
  content: "\e90b"

.wgf-icontime_icon:before
  content: "\e90c"


